{% extends "unit/base.html" %}
{% block title %}Profiles{% endblock %}
{% block content %}
    <h1>Profiles</h1>
    {% for profile in all_profile_list %}
        <h2>
            <a href="{{ profile.get_absolute_url }}">
                {{ profile.airman_id}}
            </a>
        </h2>
        <p class="date">
            Profile Start Date: {{ profile.profile_start_date }}
        </p>
        <p class="date">
            Profile Expiration Date: {{ profile.profile_expiration_date }}
        </p>
        <p class="date">Details: {{ profile.profile_details }}</p>
    {% endfor %}
{% endblock %}