{% extends "unit/base.html" %}
{% block title %}Failure & Unsatisfactory{% endblock %}
{% block content %}
    <h1>Failure & Unsatisfactory</h1>
    {% for failure in all_failure_list %}
        <h2>
            <a href="{{ failure.get_absolute_url }}">
                {{ failure.airman_id}}
            </a>
        </h2>
        <p class="date">
            Failure/Unsatisfactory Date: {{ failure.failure_date }}
        </p>
        <p class="date">
            Be-Well Completion Date: {{ failure.be_well_completion_date }}
        </p>
    {% endfor %}
{% endblock %}